http://api.instagram.com/v1/subscriptions?client_id=111f95c88e654e88adb7365ac4a3ba6b&client_secret=62ecde1435ac4fe2875cc3938a81c4dc&access_token=228640141.1fb234f.db48532d0a104613a628dc10ebe5d5ae&callback=callbackFunction
# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
